@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

:root{
    --first-color:#000000;
    --second-color:#f6f6f6;
    --third-color:#22d4fd;
    --hover-color:#272727;
    --header-font: 'Krona One', sans-serif;
    --content-font: 'Montserrat', sans-serif;
    --anchor-size: 24px;
    --header-size:28px;
    --content-size:18px;
}

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--first-color);
    color: var(--second-color);
}

.header{
    padding:2% 0% 0% 15%;
}
.header__nav{
    display: flex;
    gap: 80px;
}
.header__nav__anchor{
    font-family: var(--content-font);
    font-size: var(--anchor-size);
    font-weight: 600;
    color: var(--third-color);
    text-decoration: none;
}

.presentation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:5% 15%;
}
.presentation__section{
    width: 615px;
}
.presentation__section__title{
    font-family: var(--header-font);
    font-size: var(--header-size);
    margin-bottom: 25px;
}
.presentation__section__title__strong {
color: var(--third-color);
}
.presentation__section__content{
    font-family: var(--content-font);
    font-size: var(--content-size);
    margin:25px 0;
}
.presentation__section__buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.presentation__section__buttons__title{
    font-family: var(--header-font);
}
.presentation__section__buttons__anchor{
    display: flex;
    justify-content: center;
    gap:10px;
    padding: 21.5px 0;
    width: 280px;
    border-radius: 16px;
    border:4px solid var(--third-color);
    font-family: var(--content-font);
    font-weight: 600;
    font-size: var(--anchor-size);
    text-align: center;
    text-decoration: none;
    color:var(--second-color);
}
.presentation__section__buttons__anchor:hover {
    background-color: var(--hover-color);
}

.footer{
    background-color: var(--third-color);
    color:var(--first-color);
    padding:10px;
    text-align: center;
    font-family: var(--content-font);
    font-size: var(--content-size);
    font-weight: 400;
}